@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.seat-booking-header{
  @apply w-full h-fit   flex flex-col pt-0

}
.time-slot-marker{
  @apply mr-2 py-1 px-2.5  border-2 rounded-md ml-4
}

.a{
  color: rgb(2, 153, 247);
}
