@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.seat-booking-header{
  @apply w-full h-fit   flex flex-col pt-0

}
.time-slot-marker{
  @apply mr-2 py-1 px-2.5  border-2 rounded-md ml-4
}
.back-ground-img-seacrch-bar{
  background-image: url('https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhY2tncm91bmQlMjBkZXNpZ24lMjBibHVlfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60');

}
.back-ground-img-movieComp{
  background-image: url('https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhY2tncm91bmQlMjBkZXNpZ24lMjBibHVlfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60');

}
.gradient-col{
  @apply bg-gradient-to-r from-primary-blue via-blue-700 to-purple-500 
}
.category-options{
  @apply text-lg p-4 font-semibold text-black
}

.a{
  color: rgba(12, 167, 245, 0.447);
}
